<nav>
    <div class="site-title">
        <h1>Blog | <%= title %></h1>
        <p>Express is a node js web application framework</p>
    </div>
    <div id="links">
        <a href="/">Index</a>
        <a href="/about">About</a>
        <a href="/blogs/create">Create</a>
    </div>
</nav>
