<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/nav') %>

        <div>
            <h2>Blog Content</h2>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
